{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "overrides": [],
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "ignorePatterns": ["**/*.min.js"],
  "htmlWhitespaceSensitivity": "ignore"
}
