// PDF Viewer

.pdf-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  max-width: 1020;
  opacity: 0.3;
  font-size: 13px;
}

.pdf-footer:hover {
  opacity: 1;
}
