@layer utilities {
  .editable-cell {
    position: relative;
  }

  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

  .editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .deleted-row td:first-child::before,
  .dark .deleted-row td:first-child::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100vw; /* or 100% if you want to limit to cell width */
    height: 1px;
    border-bottom: 1px solid #ff9999;
    pointer-events: none;
    z-index: 1;
  }

  .dark .deleted-row td:first-child::before {
    border-bottom: 1px solid #c15757;
  }

  .deleted-row {
    background-color: #ffe6e6;
  }

  .rejected-row {
    background-color: #ffe6e6;
  }

  .completed-row {
    background-color: #eeffe6;
  }

  .recorded-row {
    background-color: #e6ffe6;
  }

  .selected-row {
    background-color: #e0f6ff;
  }

  .incompleted-row {
    background-color: #fffae6;
  }

  .header-row {
    background-color: #f9f9f9;
  }

  /* --- DARK MODE SUPPORT --- */
  .dark .editable-row {
    background-color: #282826;
  }
  .dark .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
    background-color: #333331;
  }
  .dark .deleted-row {
    background-color: #4a2323;
  }
  .dark .deleted-row:before {
    border-bottom: 1px solid #c15757;
  }
  .dark .rejected-row {
    background-color: #4a2323;
  }
  .dark .completed-row {
    background-color: #223a29;
  }
  .dark .recorded-row {
    background-color: #223a29;
  }
  .dark .selected-row {
    background-color: #1e2d36;
  }
  .dark .incompleted-row {
    background-color: #3a352d;
  }
  .dark .header-row {
    background-color: #333331;
  }
  .dark .print-row:before {
    border-bottom: 1px solid #666663;
  }

  .print-row :before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
  }
}
