.my-popconfirm .ant-popover-buttons {
  display: flex !important;
  flex-direction: row !important;
  white-space: nowrap;
  /* ensures they don't wrap */
}

.my-popconfirm .ant-popover-buttons button {
  margin-right: 8px;
}
